---
title: Resilience business impact assessment
weight: 30
hide_in_navigation: false
---

# Resilience business impact assessment

<a href="docs/Local Digital CYBER - Business Continuity - Resilience Business Impact Assessment - Template.odt">Local Digital CYBER - Business Continuity - Resilience Business Impact Assessment - Template.odt</a>

