---
title: Bring your own device
weight: 30
hide_in_navigation: false
---

# Bring your own device



<object data="ad.pdf" type="application/pdf" width="100%" height="500%">
    <embed src="../../../assets/activedirectory/Local Digital CYBER - BYOD Best Practice v1.0.pdf" type="application/pdf" width="100%" height="700">
        <p><a href="../../../assets/activedirectory/Local Digital CYBER - BYOD Best Practice v1.0.pdf">Download PDF</a>.</p>
    </embed>
</object>
