---
title: ITHC template
weight: 30
hide_in_navigation: false
---

# ITHC template



<object data="ad.pdf" type="application/msword" width="100%" height="500%">
    <embed src="../../../assets/healthcheck/MHCLG-CS-P001 ITHC Template.docx" type="application/msword" width="100%" height="700">
        <p><a href="../../../assets/healthcheck/MHCLG-CS-P001 ITHC Template.docx">Download template</a></p>
    </embed>
</object>
