---
title: Open VAS
weight: 30
hide_in_navigation: false
---

# Open VAS



<object data="ad.pdf" type="application/pdf" width="100%" height="500%">
    <embed src="../../../assets/cyberclinics/Cyber clinic - MHCLG - Open VAS vulnerability scanning v1.0.pdf" type="application/pdf" width="100%" height="700">
        <p><a href="../../../assets/cyberclinics/Cyber clinic - MHCLG - Open VAS vulnerability scanning v1.0.pdf">Download PDF</a>.</p>
    </embed>
</object>
