---
title: MFA best practice
weight: 30
hide_in_navigation: false
---

# MFA best practice



<object data="ad.pdf" type="application/pdf" width="100%" height="500%">
    <embed src="../../../assets/mfa/Local Digital CYBER - MFA Best Practice v1.0.pdf" type="application/pdf" width="100%" height="700">
        <p><a href="../../../assets/mfa/Local Digital CYBER - MFA Best Practice v1.0.pdf">Download PDF</a></p>
    </embed>
</object>
