---
title: Password and best practice
weight: 30
hide_in_navigation: false
---

# Password and best practice



<object data="ad.pdf" type="application/pdf" width="100%" height="500%">
    <embed src="../../../assets/activedirectory/Local Digital CYBER - AD and Password Best Practice v1.0.pdf" type="application/pdf" width="100%" height="700">
        <p><a href="../../../assets/activedirectory/Local Digital CYBER - AD and Password Best Practice v1.0.pdf">Download PDF</a>.</p>
    </embed>
</object>
